:root {
  --Cblanco: #fff;
  --Cnegro: #000;
  --Cgris: #b5b5b5;
  --Crosa: #ece;
  --Cbanner: #e3ffba;
  --Cicons: #ff9503;
  --Cverde: #31e64d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--Cbanner);
}
header img {
  width: 5rem;
}
h1 span {
  color: var(--Cicons);
}
.a-menu {
  background-image: url(img/btn-filter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--Cbanner);
  z-index: 2;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--Crosa);
  background-image: url(img/banner.png);
  background-size: 35rem;
  text-align: end;
  text-transform: capitalize;
  height: 100vh;
  z-index: 5;
  text-align: center;
}
.nav-visi {
  opacity: 1;
  visibility: visible;
}
.c-menu {
  background-image: url(img/X.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--Cbanner);
  text-align: start;
}
.nav-list {
  text-align: center;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.title-P {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.nav-title {
  font-size: 2.5rem;
}
.contend-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.contend-nav input {
  margin: 0.5rem;
}
.contend-nav input[type="checkbox"] {
  display: none;
}

.contend-nav label {
  color: var(--Cnegro);
  padding: 1rem 1rem 1rem 2.5rem;
  font-size: 1.5rem;
}
.contend-nav input[type="checkbox"]:checked ~ label {
  font-weight: 700;
  background-image: url(img/check.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}
.price-output {
  font-size: 1.5rem;
}
.nav-list a {
  width: 150px;
  color: var(--Cnegro);
  text-decoration: none;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 0.5rem;
  background-color: var(--Cverde);
  border-radius: 10px;
  margin: 0 50%;
}
.lgin a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--Cnegro);
  background-color: var(--Cblanco);
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  background-image: url(img/login.svg);
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position-y: center;
  background-position-x: right;
  border-radius: 5px;
}
/* main  */
#contend-mapa {
  max-width: 100%;
  height: calc(100vh - 100.7px);
}
.buscado {
  width: 100%;
  height: 80vh;
  padding: 1rem;
  z-index: 1;
  background-color: var(--Cblanco);
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 100.7px;
  bottom: 0;
  display: none;
}
.buscado-act {
  display: block;
  opacity: 1;
  visibility: visible;
}
.tarjetas {
  border: 1px solid var(--Cicons);
  padding: 0.5rem;
  margin: 0.5rem 0;
}
.title-cir {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: capitalize;
}
.title-cir h3 {
  font-size: 2.5rem;
}
.circulo {
  width: 50px;
  height: 50px;
  background-color: var(--Cverde);
  border-radius: 50%;
}
.orang {
  background-color: var(--Cicons);
}
.red {
  background-color: red;
}
.img-links {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-links img {
  padding: 0.5rem;
  width: 150px;
  border: 1px solid var(--Cicons);
}
.links-cart {
  display: flex;
  flex-direction: column;
}
.links-cart a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2rem;
  color: var(--Cnegro);
  background-color: var(--Cgris);
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0.5rem;
}
.cerrar {
  background-color: var(--Cicons);
  padding: 1rem 1.5rem;
  border-radius: 5px;
}
